@font-face {
  font-family: Montserrat;
  font-weight: 700;
  src: url(../fonts/Montserrat-Bold.woff2) format('woff2');
}

@font-face {
  font-family: Montserrat;
  font-weight: 600;
  src: url(../fonts/Montserrat-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: Montserrat;
  font-weight: 500;
  src: url(../fonts/Montserrat-Medium.woff2) format('woff2');
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: url(../fonts/Montserrat-Regular.woff2) format('woff2');
}

@font-face {
  font-family: Montserrat;
  font-weight: 300;
  src: url(../fonts/Montserrat-Light.woff2) format('woff2');
}

ul {
  padding: 0 !important;
}

*:focus {
  outline: none;
}

div#__react-alert__ > div {
  z-index: 9999 !important;
}
